<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.srinkhla.controller">
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <service android:name=".SrinkhlaService"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
        android:exported="true">
        <intent-filter>
            <action android:name="android.view.accessibility.AccessibilityService" />
        </intent-filter>
        <meta-data android:name="android.view.accessibility.AccessibilityService"
            android:resource="@xml/accessibility_config" />
    </service>
</manifest>
